In [1]:
import pymysql

import pandas as pd

db = pymysql.connect(host='localhost',port=int(3306),user='root',passwd='12345678', 
                    cursorclass=pymysql.cursors.DictCursor)

# try: 
#     cursorInstance.execute("CREATE DATABASE data_warehouse")
#     print('Database was successfully created')
# except: 
#     print('Database existed')
    
db = pymysql.connect(host='localhost',port=int(3306),user='root',passwd='12345678', 
                    db='financialservice', cursorclass=pymysql.cursors.DictCursor)

cursorInstance = db.cursor()
cursorInstance.execute("SHOW DATABASES")
databaseList = cursorInstance.fetchall()

In [2]:
def run(command, *args):
    cursorInstance.execute(command, args)

def get():
    return cursorInstance.fetchall()
# df = pd.read_sql(databaseList, con=db)

In [3]:
borrower_csv = pd.read_csv('./borrower_table.csv')
loan_csv = pd.read_csv('./loan_table.csv')

import collections
borrower_id_counter = collections.Counter(list(borrower_csv['loan_id']))
loan_id_counter = collections.Counter(list(loan_csv['loan_id']))

print(borrower_id_counter == loan_id_counter)

True

In [4]:
import datetime
import random

def random_date(year):
    start_date = datetime.date(year, 1, 1)
    end_date = datetime.date(year, 12, 31)

    time_between_dates = end_date - start_date
    days_between_dates = time_between_dates.days
    random_number_of_days = random.randrange(days_between_dates)
    
    return start_date + datetime.timedelta(days=random_number_of_days)

In [5]:
import numpy as np

joined_csv = pd.merge(borrower_csv, loan_csv, how='inner', on=['loan_id'])
joined_csv['customer_id'] = np.arange(len(joined_csv)) + 1
joined_csv['date'] = pd.to_datetime(joined_csv['date'], format="%Y-%m-%d")

Random start date

In [6]:
from tqdm import tqdm


p = [1.0] * 9
print(p)
sump = 0
sump = p[0]
for i in range (1, 8):
    p[i] = p[i - 1] * 1.05
    sump += p[i]
p[8] = p[7] * 1.02
sump += p[8]

sump2 = 0
for i in range(0, 8):
    p[i] /= sump
    sump2 += p[i]
p[8] = 1 - sump2

print([0.09, 0.1, 0.1, 0.11, 0.11, 0.12, 0.12, 0.13, 1 - 0.09 - 0.1 - 0.1 - 0.11 - 0.11 - 0.12 - 0.12 - 0.13])

print("joined_csv")
print(joined_csv.keys())
print("============")

for index, row in tqdm(joined_csv.iterrows()):
    if (index < 10):
        print("index = ", index, " row = ", row)
        joined_csv['date'][index] = random_date(2012 + np.random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8],  p=[0.09, 0.1, 0.1, 0.11, 0.11, 0.12, 0.12, 0.13, 1 - 0.09 - 0.1 - 0.1 - 0.11 - 0.11 - 0.12 - 0.12 - 0.13]))

print(joined_csv['date'][0:10])

# joined_csv['date'] = random_date(2012 + np.random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8],  p=[0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.0275, 0.0275]))

# joined_csv['date'] = joined_csv['date'] + pd.offsets.DateOffset(year=np.random.choice([0, 1, 2, 3, 4, 5, 6, 7, 8],  p=[0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.135, 0.0275, 0.0275]))

0it [00:00, ?it/s][1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0]
[0.09, 0.1, 0.1, 0.11, 0.11, 0.12, 0.12, 0.13, 0.1200000000000001]
joined_csv
Index(['loan_id', 'is_first_loan', 'fully_repaid_previous_loans',
       'currently_repaying_other_loans', 'total_credit_card_limit',
       'avg_percentage_credit_card_limit_used_last_year', 'saving_amount',
       'checking_amount', 'is_employed', 'yearly_salary', 'age',
       'dependent_number', 'loan_purpose', 'date', 'loan_granted',
       'loan_repaid', 'customer_id'],
      dtype='object')
============
index =  0  row =  loan_id                                                         289774
is_first_loan                                                        1
fully_repaid_previous_loans                                        NaN
currently_repaying_other_loans                                     NaN
total_credit_card_limit                                           8000
avg_percentage_credit_card_limit_used_last_year                   0.49
saving_amount                                                     3285
checking_amount                                                   1073
is_employed                                                          0
yearly_salary                                                        0
age                                                                 47
dependent_number                                                     3
loan_purpose                                                  business
date                                               2012-01-31 00:00:00
loan_granted                                                         0
loan_repaid                                                        NaN
customer_id                                                          1
Name: 0, dtype: object
ipykernel_launcher:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
2686it [00:00, 4663.19it/s]index =  1  row =  loan_id                                                         482590
is_first_loan                                                        0
fully_repaid_previous_loans                                       1.00
currently_repaying_other_loans                                    0.00
total_credit_card_limit                                           4500
avg_percentage_credit_card_limit_used_last_year                   1.03
saving_amount                                                      636
checking_amount                                                   5299
is_employed                                                          1
yearly_salary                                                    13500
age                                                                 33
dependent_number                                                     1
loan_purpose                                                investment
date                                               2012-11-02 00:00:00
loan_granted                                                         0
loan_repaid                                                        NaN
customer_id                                                          2
Name: 1, dtype: object
index =  2  row =  loan_id                                                         135565
is_first_loan                                                        1
fully_repaid_previous_loans                                        NaN
currently_repaying_other_loans                                     NaN
total_credit_card_limit                                           6900
avg_percentage_credit_card_limit_used_last_year                   0.82
saving_amount                                                     2085
checking_amount                                                   3422
is_employed                                                          1
yearly_salary                                                    24500
age                                                                 38
dependent_number                                                     8
loan_purpose                                                     other
date                                               2012-07-16 00:00:00
loan_granted                                                         1
loan_repaid                                                       1.00
customer_id                                                          3
Name: 2, dtype: object
index =  3  row =  loan_id                                                         207797
is_first_loan                                                        0
fully_repaid_previous_loans                                       1.00
currently_repaying_other_loans                                    0.00
total_credit_card_limit                                           1200
avg_percentage_credit_card_limit_used_last_year                   0.82
saving_amount                                                      358
checking_amount                                                   3388
is_employed                                                          0
yearly_salary                                                        0
age                                                                 24
dependent_number                                                     1
loan_purpose                                                investment
date                                               2012-06-05 00:00:00
loan_granted                                                         0
loan_repaid                                                        NaN
customer_id                                                          4
Name: 3, dtype: object
index =  4  row =  loan_id                                                         828078
is_first_loan                                                        0
fully_repaid_previous_loans                                        0.0
currently_repaying_other_loans                                     0.0
total_credit_card_limit                                           6900
avg_percentage_credit_card_limit_used_last_year                    0.8
saving_amount                                                     2138
checking_amount                                                   4282
is_employed                                                          1
yearly_salary                                                    18100
age                                                                 36
dependent_number                                                     1
loan_purpose                                           emergency_funds
date                                               2012-11-28 00:00:00
loan_granted                                                         0
loan_repaid                                                        NaN
customer_id                                                          5
Name: 4, dtype: object
index =  5  row =  loan_id                                                         423171
is_first_loan                                                        1
fully_repaid_previous_loans                                        NaN
currently_repaying_other_loans                                     NaN
total_credit_card_limit                                           6100
avg_percentage_credit_card_limit_used_last_year                   0.53
saving_amount                                                     6163
checking_amount                                                   5298
is_employed                                                          1
yearly_salary                                                    29500
age                                                                 24
dependent_number                                                     1
loan_purpose                                                     other
date                                               2012-11-07 00:00:00
loan_granted                                                         1
loan_repaid                                                       1.00
customer_id                                                          6
Name: 5, dtype: object
index =  6  row =  loan_id                                                         568977
is_first_loan                                                        1
fully_repaid_previous_loans                                        NaN
currently_repaying_other_loans                                     NaN
total_credit_card_limit                                            600
avg_percentage_credit_card_limit_used_last_year                   0.89
saving_amount                                                      305
checking_amount                                                   1456
is_employed                                                          0
yearly_salary                                                        0
age                                                                 50
dependent_number                                                     2
loan_purpose                                           emergency_funds
date                                               2012-10-12 00:00:00
loan_granted                                                         0
loan_repaid                                                        NaN
customer_id                                                          7
Name: 6, dtype: object
index =  7  row =  loan_id                                                         200139
is_first_loan                                                        1
fully_repaid_previous_loans                                        NaN
currently_repaying_other_loans                                     NaN
total_credit_card_limit                                           4000
avg_percentage_credit_card_limit_used_last_year                   0.57
saving_amount                                                      602
checking_amount                                                   2757
is_employed                                                          1
yearly_salary                                                    31700
age                                                                 36
dependent_number                                                     8
loan_purpose                                                  business
date                                               2012-09-19 00:00:00
loan_granted                                                         1
loan_repaid                                                       0.00
customer_id                                                          8
Name: 7, dtype: object
index =  8  row =  loan_id                                                         991294
is_first_loan                                                        0
fully_repaid_previous_loans                                       1.00
currently_repaying_other_loans                                    0.00
total_credit_card_limit                                           7000
avg_percentage_credit_card_limit_used_last_year                   0.52
saving_amount                                                     2575
checking_amount                                                   2917
is_employed                                                          1
yearly_salary                                                    58900
age                                                                 33
dependent_number                                                     3
loan_purpose                                           emergency_funds
date                                               2012-12-04 00:00:00
loan_granted                                                         1
loan_repaid                                                       1.00
customer_id                                                          9
Name: 8, dtype: object
index =  9  row =  loan_id                                                         875332
is_first_loan                                                        0
fully_repaid_previous_loans                                       1.00
currently_repaying_other_loans                                    0.00
total_credit_card_limit                                           4300
avg_percentage_credit_card_limit_used_last_year                   0.83
saving_amount                                                      722
checking_amount                                                    892
is_employed                                                          1
yearly_salary                                                     5400
age                                                                 32
dependent_number                                                     7
loan_purpose                                                  business
date                                               2012-01-20 00:00:00
loan_granted                                                         1
loan_repaid                                                       1.00
customer_id                                                         10
Name: 9, dtype: object
101100it [00:06, 14807.67it/s]0    2016-05-27
1    2019-10-16
2    2016-11-24
3    2017-09-21
4    2013-10-27
5    2013-08-22
6    2016-09-16
7    2013-01-08
8    2017-05-24
9    2018-04-28
Name: date, dtype: object

In [7]:
joined_csv['date'] = pd.to_datetime(joined_csv['date'], format="%Y-%m-%d")

In [8]:
joined_csv['year'] = joined_csv['date'].dt.year

joined_csv['month'] = joined_csv['date'].dt.month

joined_csv['day'] = joined_csv['date'].dt.day

joined_csv['quarter'] = joined_csv['date'].dt.quarter

joined_csv['date_of_birth'] = joined_csv['year'] - joined_csv['age']

joined_csv['date_of_birth'] = joined_csv['date_of_birth'].apply(random_date)

joined_csv['date_of_birth'] = pd.to_datetime(joined_csv['date_of_birth'], format="%Y-%m-%d")

Random Branch

In [10]:
from faker import Faker

fake = Faker('en_US')

BRANCH_COUNT = 20


branch_addresses = ["Đường Kim Ngọc, Thành phố Vĩnh Yên, Tỉnh Vĩnh Phúc", 
                    "Hai Bà Trưng, Phường Hàng Trống, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Thợ Nhuộm, Quận Hoàn Kiếm, Thành phố Hà Nội", 
                    "Lê Thánh Tông, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Trần Quang Khải, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Hàng Tre, Quận Hoàn Kiếm, Thành phố Hà Nội",
                    "Huỳnh Thúc Kháng ,Quận Đống Đa, Thành phố Hà Nội",
                    "Trần Duy Hưng, Quận Cầu Giấy, Thành phố Hà Nội"
                    "Phạm Hùng, Nam Từ Liêm, Thành phố Hà Nội", 
                    "Phan Đình Phùng, Quận Ba Đình, Thành phố Hà Nội", 
                    "Võ Văn Kiệt, Quận 1, Thành phố Hồ Chí Minh", 
                    "Hàm Nghi, Quận 1, Thành phố Hồ Chí Minh", 
                    "Lê Thánh Tôn, Quận 1, Thành phố Hồ Chí Minh", 
                    "Bùi Thị Xuân, Quận 1, Thành phố Hồ Chí Minh", 
                    "Phó Đức Chính, Quận 1, Thành phố Hồ Chí Minh", 
                    "Nguyễn Công Trứ, Quận 1, Thành phố Hồ Chí Minh",
                    "Võ Văn Tần, Quận 3, Thành phố Hồ Chí Minh", 
                    "Nam Kỳ Khởi Nghĩa, Quận 3, Thành phố Hồ Chí Minh", 
                    "Nguyễn Thị Diệu, Quận 3, Thành phố Hồ Chí Minh",
                    "Đường Hoà Bình, Quận Ninh Kiều, Thành phố Cần Thơ", 
                    "Phan Đình Phùng, Quận Ninh Kiều, Thành phố Cần Thơ",
                    "Võ Văn Tần, Quận Ninh Kiều, Thành phố Cần Thơ", 
                    "Đường Hùng Vương,Thành phố Móng Cái, Tỉnh Quảng Ninh", 
                    "Trần Hưng Đạo, Thành phố Hạ Long, Tỉnh Quảng Ninh",
                    "Đường Hùng Vương, Thành phố Móng Cái, Tỉnh Quảng Ninh", 
                    "Đại lộ Bình Dương, Thành phố Thủ Dầu Một, Tỉnh Bình Dương",
                    "Đường ĐT743, Thị xã Dĩ An, Tỉnh Bình Dương",
                    "Trường Chinh, Thị xã Bà Rịa, Tỉnh Bà Rịa - Vũng Tàu", 
                    "Quốc lộ 51, Huyện Tân Thành, Tỉnh Bà Rịa - Vũng Tàu",
                    "Thống Nhất, Thành phố Vũng Tàu, Tỉnh Bà Rịa - Vũng Tàu",
                    "Trần Hưng Đạo, Thành phố Vũng Tàu, Tỉnh Bà Rịa - Vũng Tàu",
                    "Đường Nguyễn Trung Trực, Phú Quốc, Kiên Giang"
                    "Đường Trần Phú, Rạch Giá, Kiên Giang",
                    "Hùng Vương, Thành phố Quảng Ngãi, Tỉnh Quảng Ngãi",
                    "Trung An, Xã Bình Thạnh, Huyện Bình Sơn, Tỉnh Quảng Ngãi",
                    "Đường Lê Lợi, Thành phố Plei Ku, Tỉnh Gia Lai",
                    "Nguyễn Tất Thành, Thành phố Plei Ku, Tỉnh Gia Lai",
                    "Trần Phú, Thành phố Plei Ku, Tỉnh Gia Lai",
                    "Lê Lợi, Vĩnh Long, Vĩnh Long",
                    "KCN Phú Tài, Thành phố Quy Nhơn, Tỉnh Bình Định",
                    "Lê Duẩn,Thành phố Quy Nhơn, Tỉnh Bình Định", 
                    "Lê Hồng Phong, Thành phố Quy Nhơn, Tỉnh Bình Định", 
                    "Lê Thị Pha, Thành phố Bảo Lộc, Tỉnh Lâm Đồng",
                    "Đường 30/4, Thành phố Tây Ninh, Tỉnh Tây Ninh",
                    "Đường Trần Phú, Thành phố Kon Tum, Tỉnh Kon Tum",
                    "Nguyễn Công Trứ, Thành phố Vị Thanh, Hậu Giang", 
                    "Đại Lộ Đồng Khởi, Thành phố Bến Tre, Bến Tre", 
                    "Qưới Sơn, Châu Thành, Bến Tre", 
                    "Duy Tân, Thành phố Tuy Hoà, Tỉnh Phú Yên", 
                    "Đường Lê Thánh Tôn, Thành phố Trà Vinh, Tỉnh Trà Vinh"]

print(len(branch_addresses))
num_branch = len(branch_addresses)
for i in range(len(branch_addresses)):
    print("i = ", i)
    building_number = fake.building_number()
    address = branch_addresses[i]
    sql = f'INSERT INTO branch VALUES ({i}, "{building_number}, {branch_addresses[i]}")'
    run(sql)
    
db.commit()

48
i =  0
i =  1
i =  2
i =  3
i =  4
i =  5
i =  6
i =  7
i =  8
i =  9
i =  10
i =  11
i =  12
i =  13
i =  14
i =  15
i =  16
i =  17
i =  18
i =  19
i =  20
i =  21
i =  22
i =  23
i =  24
i =  25
i =  26
i =  27
i =  28
i =  29
i =  30
i =  31
i =  32
i =  33
i =  34
i =  35
i =  36
i =  37
i =  38
i =  39
i =  40
i =  41
i =  42
i =  43
i =  44
i =  45
i =  46
i =  47

Random customers

In [12]:

family_names = ["Nguyễn", "Trần", "Phạm", "Đặng", "Hoàng", "Hồ", "Vũ", "Cao", "Trịnh"]
names = ["Sơn", "Mạnh", "Huy", "Nam", "Trang", "Hải", "Yến", "Thúy", "Châu", "Phi", "Huy", "Tú"]
print(len(joined_csv))
for index, row in joined_csv.iterrows():
    customer_id = row['customer_id']
    customer_name = np.random.choice(family_names) + " " + np.random.choice(names)
    yearly_salary = row['yearly_salary']
    date_of_birth = row['date_of_birth']
    address = fake.building_number() + random.choice(branch_addresses)
    is_employed = row['is_employed']
    marital_status = np.random.choice([0, 1, 2, 3], p=[0.69, 0.22, 0.01, 0.08])
    
    sql = 'INSERT INTO customer VALUES (%s, %s, %s, %s, %s, %s, %s)'
    run(sql, customer_id, customer_name, is_employed, date_of_birth, address, 
        marital_status, yearly_salary)
    
db.commit()

101100

Random loan category

In [14]:
# db.rollback()

category_id = 0
for lifespan in [6, 12, 18, 24, 30, 36]:
    for purpose in ['business', 'investment', 'other', 'emergency_funds', 'home']:
        for is_secured in [0, 1]: 
            if is_secured == 0: 
                rate = round(random.uniform(16, 25), 2)
            else: 
                rate = round(random.uniform(10, 12), 2)
            
            new_lifespan = lifespan * 30
            
            sql = 'INSERT INTO loan_category VALUES (%s, %s, %s, %s, %s)'
            run(sql, category_id, new_lifespan, rate, purpose, is_secured)
            category_id += 1
            
db.commit()

Random accounts

In [22]:
import time

# db.rollback()

for index, row in joined_csv.iterrows():
    n_accounts = random.randint(1, 2)
    
    data_src = ['saving_amount', 'checking_amount',]
    for i in range(n_accounts):
        customer_id = row['customer_id']
        branch_id = random.randint(0, num_branch)
        create_date = random_date(random.randint(2017, 2019))
        balance = row[data_src[i]]
        acc_id = int(time.time_ns())
        
        sql = 'INSERT INTO account VALUES (%s, %s, %s, %s, %s)'
        run(sql, acc_id, create_date, balance, customer_id, branch_id)

db.commit()

IntegrityError: (1062, "Duplicate entry '1617867108817910900' for key 'PRIMARY'")

In [ ]:
run("SELECT * FROM account")
account_list = cursorInstance.fetchall()

In [69]:
run("SELECT * FROM loan_category")
category_list = cursorInstance.fetchall()

id2time = {}
id2rate = {}

for item in category_list:
    id2time[item['CategoryID']] = item['LifeSpan']
    id2rate[item['CategoryID']] = item['Rate']
    
id2rate

{0: 21.17,
 1: 11.84,
 2: 16.81,
 3: 10.03,
 4: 17.85,
 5: 10.11,
 6: 21.63,
 7: 10.89,
 8: 16.32,
 9: 11.22,
 10: 21.21,
 11: 10.52,
 12: 23.91,
 13: 10.24,
 14: 18.11,
 15: 10.11,
 16: 17.79,
 17: 11.96,
 18: 24.82,
 19: 11.87,
 20: 23.71,
 21: 11.14,
 22: 17.49,
 23: 10.69,
 24: 18.88,
 25: 11.7,
 26: 19.94,
 27: 11.96,
 28: 22.16,
 29: 10.85,
 30: 22.89,
 31: 10.24,
 32: 16.11,
 33: 10.07,
 34: 24.3,
 35: 10.49,
 36: 24.16,
 37: 10.91,
 38: 18.73,
 39: 10.97,
 40: 23.48,
 41: 11.73,
 42: 21.98,
 43: 11.65,
 44: 24.09,
 45: 10.24,
 46: 24.66,
 47: 10.46,
 48: 23.72,
 49: 11.92,
 50: 23.95,
 51: 10.26,
 52: 21.02,
 53: 11.64,
 54: 17.19,
 55: 11.18,
 56: 18.43,
 57: 11.81,
 58: 18.86,
 59: 10.22}

Random loan tracsactions

In [80]:
import math 
from uuid import uuid4

db.rollback()

import datetime
from datetime import timedelta
import calendar
from tqdm import tqdm

def add_months(sourcedate, months):
    month = sourcedate.month - 1 + months
    year = sourcedate.year + month // 12
    month = month % 12 + 1
    day = min(sourcedate.day, calendar.monthrange(year,month)[1])
    return datetime.date(year, month, day)

def random_datetime(date):
    date_time = datetime.datetime(date.year, date.month, date.day)
    end = date_time + timedelta(days=1)
    return date_time + (end - date_time) * random.random()

loan_id = 0

for account in tqdm(account_list): 
    if random.randint(0, 1):
        id = np.where(joined_csv.customer_id == account['CustomerID'])[0][0]
        loan_id += 1
        available_amount = joined_csv['total_credit_card_limit'][id] * random.uniform(5, 20)
        amount = joined_csv['total_credit_card_limit'][id]
        start_date = joined_csv['date'][id]
        account_id = account['AccountID']
        category_id = random.randint(0, 59)
        sql = 'INSERT INTO loan VALUES (%s, %s, %s, %s, %s)'
        run(sql, loan_id, available_amount, start_date, account_id, category_id)

        lifespan = id2time[category_id] // 30 
        rate = id2rate[category_id] 

        monthly_amount = math.ceil(amount * (100 + rate * (lifespan / 12)) / 100 / lifespan)
        paid_times = lifespan

#         db.commit()
        if available_amount > 500:
            for i in range(paid_times):
                pay_date = add_months(start_date, i)
                now = datetime.datetime.now() 
                now = add_months(now, 0)
                if pay_date > now: 
                    break
                
                transaction_id = uuid4()
#                 transaction_id = random_datetime(now).timestamp() * 1000000 + random.randint(1, 10) + random.randint(11, 100) + random.randint(101, 1000) + random.randint(1001, 10000) + random.randint(10001, 100000)
                if i == 0: 
                    transaction_amount = -amount
                else:
                    transaction_amount = monthly_amount 

                sql = 'INSERT INTO loan_transaction VALUES (%s, %s, %s, %s)'
                run(sql, transaction_id, pay_date, transaction_amount, loan_id)
        #     break
                             
db.commit()

100%|██████████| 151732/151732 [11:59<00:00, 210.74it/s]